<!DOCTYPE html>
<html ng-app="Assignment1App">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Module-1 Coding Assignment</title>
  </head>
  <body>
    <div ng-controller="Assignment1Controller">
   <h1> {{ name }}</h1>  

    Please enter lunch items: <input type="text" ng-model="items" placeholder="comma separated values"/>
    <button ng-click="validateItems(items)" >Check If Too Much</button>
   <br />
   <span>{{ message }}</span>
    </div>
  </body>
</html>